.auth, .signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-title {
  margin-top: 0px;
  font-family: 'Paytone One';
}

.auth-form, .signup-form {
  text-align: right;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  max-width: 300px;
}

.auth-form-input, .signup-form-input {
  font-weight: 600;
  color: rgb(0, 0, 0);
  display: block;
  height: 35px;
  border: none;
  padding: 20px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.147) 0px 5px 15px;
  border-radius: 20px;
}


.auth-form-submit, .signup-form-submit {
  background-color: inherit; /* 페이지 배경색과 동일하게 설정 */
  border: none; /* 테두리 제거 */
  color: rgb(255, 255, 255); /* 폰트 색상을 흰색으로 설정 */
  font-family: inherit; /* 현재 페이지에서 사용 중인 폰트 사용 */
  padding: 10px 20px; /* 버튼 내부 여백 설정 */
  cursor: pointer; /* 마우스 오버 시 커서 변경 */
  transition: transform 0.3s ease, text-shadow 0.3s ease; /* 변환 및 텍스트 그림자 효과에 부드러운 전환 적용 */
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0); /* 기본 상태의 텍스트 그림자 (투명) */
  margin-top: 10px;
}

.auth-form-submit:hover, .signup-form-submit:hover {
  transform: scale(1.20); /* 버튼을 약간 확대 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 10.0); /* 마우스 오버 시 텍스트 그림자 적용 */
}



.auth-form-move {
  margin-top: 10px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  cursor: pointer;
}

.auth-password, .signup-password {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 20px;
  width: 300px;
}

.password-show {
  position: absolute;
  cursor: pointer;
  padding-right: 20px;
}

.check-word {
  text-align: left;
  font-size: 10pt;
  margin-top: 5px;
}

.info-green {
  color: rgb(54, 171, 107);
}

.info-red {
  color: rgb(197, 60, 80);
}

.info-gray {
  color: rgb(255, 255, 255);
}
